.flex-gt-md-20, .layout-column>.flex-gt-md-20, .layout-row>.flex-gt-md-20,
.flex-sm-50, .layout-row>.flex-sm-50,
.layout-column>.flex-xs-100, .layout-row>.flex-xs-100{
  max-height: inherit !important;
}

.layout-xs-column>.flex{
  min-height: auto !important;
}

.layout-margin > *, .layout-margin > *{
  margin: auto !important
}

/* layout-xs */
@media (max-width: 599px){
  .flex-xs-5, .layout-column>.flex-xs-5, .layout-row>.flex-xs-5 {
    -webkit-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
  }

  .flex-xs-10, .layout-column>.flex-xs-10, .layout-row>.flex-xs-10 {
    -webkit-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
  }

  .flex-xs-15, .layout-column>.flex-xs-15, .layout-row>.flex-xs-15 {
    -webkit-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
  }

  .flex-xs-20, .layout-column>.flex-xs-20, .layout-row>.flex-xs-20 {
    -webkit-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
  }

  .flex-xs-25, .layout-column>.flex-xs-25, .layout-row>.flex-xs-25 {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
  }

  .flex-xs-30, .layout-column>.flex-xs-30, .layout-row>.flex-xs-30 {
    -webkit-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
  }

  .flex-xs-35, .layout-column>.flex-xs-35, .layout-row>.flex-xs-35 {
    -webkit-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
  }

  .flex-xs-40, .layout-column>.flex-xs-40, .layout-row>.flex-xs-40 {
    -webkit-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
  }

  .flex-xs-45, .layout-column>.flex-xs-45, .layout-row>.flex-xs-45 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-xs-50, .layout-column>.flex-xs-50, .layout-row>.flex-xs-50 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-xs-55, .layout-column>.flex-xs-55, .layout-row>.flex-xs-55 {
    -webkit-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
  }

  .flex-xs-60, .layout-column>.flex-xs-60, .layout-row>.flex-xs-60 {
    -webkit-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
  }

  .flex-xs-65, .layout-column>.flex-xs-65, .layout-row>.flex-xs-65 {
    -webkit-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
  }

  .flex-xs-70, .layout-column>.flex-xs-70, .layout-row>.flex-xs-70 {
    -webkit-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
  }

  .flex-xs-75, .layout-column>.flex-xs-75, .layout-row>.flex-xs-75 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-xs-80, .layout-column>.flex-xs-80, .layout-row>.flex-xs-80 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-xs-85, .layout-column>.flex-xs-85, .layout-row>.flex-xs-85 {
    -webkit-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
  }

  .flex-xs-90, .layout-column>.flex-xs-90, .layout-row>.flex-xs-90 {
    -webkit-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
  }

  .flex-xs-95, .layout-column>.flex-xs-95, .layout-row>.flex-xs-95 {
    -webkit-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
  }

  .flex-xs, .flex-xs-100, .layout-column>.flex-xs-100, .layout-row>.flex-xs-100 {
    -webkit-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }
}

/* layout-gt-xs */
@media (min-width: 600px){
  .flex-gt-xs-5, .layout-column>.flex-gt-xs-5, .layout-row>.flex-gt-xs-5 {
    -webkit-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
  }

  .flex-gt-xs-10, .layout-column>.flex-gt-xs-10, .layout-row>.flex-gt-xs-10 {
    -webkit-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
  }

  .flex-gt-xs-15, .layout-column>.flex-gt-xs-15, .layout-row>.flex-gt-xs-15 {
    -webkit-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
  }

  .flex-gt-xs-20, .layout-column>.flex-gt-xs-20, .layout-row>.flex-gt-xs-20 {
    -webkit-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
  }

  .flex-gt-xs-25, .layout-column>.flex-gt-xs-25, .layout-row>.flex-gt-xs-25 {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
  }

  .flex-gt-xs-30, .layout-column>.flex-gt-xs-30, .layout-row>.flex-gt-xs-30 {
    -webkit-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
  }

  .flex-gt-xs-35, .layout-column>.flex-gt-xs-35, .layout-row>.flex-gt-xs-35 {
    -webkit-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
  }

  .flex-gt-xs-40, .layout-column>.flex-gt-xs-40, .layout-row>.flex-gt-xs-40 {
    -webkit-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
  }

  .flex-gt-xs-45, .layout-column>.flex-gt-xs-45, .layout-row>.flex-gt-xs-45 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-gt-xs-50, .layout-column>.flex-gt-xs-50, .layout-row>.flex-gt-xs-50 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-gt-xs-55, .layout-column>.flex-gt-xs-55, .layout-row>.flex-gt-xs-55 {
    -webkit-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
  }

  .flex-gt-xs-60, .layout-column>.flex-gt-xs-60, .layout-row>.flex-gt-xs-60 {
    -webkit-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
  }

  .flex-gt-xs-65, .layout-column>.flex-gt-xs-65, .layout-row>.flex-gt-xs-65 {
    -webkit-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
  }

  .flex-gt-xs-70, .layout-column>.flex-gt-xs-70, .layout-row>.flex-gt-xs-70 {
    -webkit-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
  }

  .flex-gt-xs-75, .layout-column>.flex-gt-xs-75, .layout-row>.flex-gt-xs-75 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-gt-xs-80, .layout-column>.flex-gt-xs-80, .layout-row>.flex-gt-xs-80 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-gt-xs-85, .layout-column>.flex-gt-xs-85, .layout-row>.flex-gt-xs-85 {
    -webkit-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
  }

  .flex-gt-xs-90, .layout-column>.flex-gt-xs-90, .layout-row>.flex-gt-xs-90 {
    -webkit-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
  }

  .flex-gt-xs-95, .layout-column>.flex-gt-xs-95, .layout-row>.flex-gt-xs-95 {
    -webkit-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
  }

  .flex-gt-xs, .flex-gt-xs-100, .layout-column>.flex-gt-xs-100, .layout-row>.flex-gt-xs-100 {
    -webkit-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }
}

/* layout-sm */
@media (min-width: 600px) and (max-width: 959px){
  .flex-sm-5, .layout-column>.flex-sm-5, .layout-row>.flex-sm-5 {
    -webkit-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
  }

  .flex-sm-10, .layout-column>.flex-sm-10, .layout-row>.flex-sm-10 {
    -webkit-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
  }

  .flex-sm-15, .layout-column>.flex-sm-15, .layout-row>.flex-sm-15 {
    -webkit-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
  }

  .flex-sm-20, .layout-column>.flex-sm-20, .layout-row>.flex-sm-20 {
    -webkit-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
  }

  .flex-sm-25, .layout-column>.flex-sm-25, .layout-row>.flex-sm-25 {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
  }

  .flex-sm-30, .layout-column>.flex-sm-30, .layout-row>.flex-sm-30 {
    -webkit-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
  }

  .flex-sm-35, .layout-column>.flex-sm-35, .layout-row>.flex-sm-35 {
    -webkit-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
  }

  .flex-sm-40, .layout-column>.flex-sm-40, .layout-row>.flex-sm-40 {
    -webkit-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
  }

  .flex-sm-45, .layout-column>.flex-sm-45, .layout-row>.flex-sm-45 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-sm-50, .layout-column>.flex-sm-50, .layout-row>.flex-sm-50 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-sm-55, .layout-column>.flex-sm-55, .layout-row>.flex-sm-55 {
    -webkit-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
  }

  .flex-sm-60, .layout-column>.flex-sm-60, .layout-row>.flex-sm-60 {
    -webkit-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
  }

  .flex-sm-65, .layout-column>.flex-sm-65, .layout-row>.flex-sm-65 {
    -webkit-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
  }

  .flex-sm-70, .layout-column>.flex-sm-70, .layout-row>.flex-sm-70 {
    -webkit-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
  }

  .flex-sm-75, .layout-column>.flex-sm-75, .layout-row>.flex-sm-75 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-sm-80, .layout-column>.flex-sm-80, .layout-row>.flex-sm-80 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-sm-85, .layout-column>.flex-sm-85, .layout-row>.flex-sm-85 {
    -webkit-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
  }

  .flex-sm-90, .layout-column>.flex-sm-90, .layout-row>.flex-sm-90 {
    -webkit-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
  }

  .flex-sm-95, .layout-column>.flex-sm-95, .layout-row>.flex-sm-95 {
    -webkit-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
  }

  .flex-sm, .flex-sm-100, .layout-column>.flex-sm-100, .layout-row>.flex-sm-100 {
    -webkit-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }
}

/* layout-gt-sm */
@media (min-width: 960px){
  .flex-gt-sm-5, .layout-column>.flex-gt-sm-5, .layout-row>.flex-gt-sm-5 {
    -webkit-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
  }

  .flex-gt-sm-10, .layout-column>.flex-gt-sm-10, .layout-row>.flex-gt-sm-10 {
    -webkit-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
  }

  .flex-gt-sm-15, .layout-column>.flex-gt-sm-15, .layout-row>.flex-gt-sm-15 {
    -webkit-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
  }

  .flex-gt-sm-20, .layout-column>.flex-gt-sm-20, .layout-row>.flex-gt-sm-20 {
    -webkit-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
  }

  .flex-gt-sm-25, .layout-column>.flex-gt-sm-25, .layout-row>.flex-gt-sm-25 {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
  }

  .flex-gt-sm-30, .layout-column>.flex-gt-sm-30, .layout-row>.flex-gt-sm-30 {
    -webkit-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
  }

  .flex-gt-sm-35, .layout-column>.flex-gt-sm-35, .layout-row>.flex-gt-sm-35 {
    -webkit-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
  }

  .flex-gt-sm-40, .layout-column>.flex-gt-sm-40, .layout-row>.flex-gt-sm-40 {
    -webkit-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
  }

  .flex-gt-sm-45, .layout-column>.flex-gt-sm-45, .layout-row>.flex-gt-sm-45 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-gt-sm-50, .layout-column>.flex-gt-sm-50, .layout-row>.flex-gt-sm-50 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-gt-sm-55, .layout-column>.flex-gt-sm-55, .layout-row>.flex-gt-sm-55 {
    -webkit-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
  }

  .flex-gt-sm-60, .layout-column>.flex-gt-sm-60, .layout-row>.flex-gt-sm-60 {
    -webkit-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
  }

  .flex-gt-sm-65, .layout-column>.flex-gt-sm-65, .layout-row>.flex-gt-sm-65 {
    -webkit-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
  }

  .flex-gt-sm-70, .layout-column>.flex-gt-sm-70, .layout-row>.flex-gt-sm-70 {
    -webkit-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
  }

  .flex-gt-sm-75, .layout-column>.flex-gt-sm-75, .layout-row>.flex-gt-sm-75 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-gt-sm-80, .layout-column>.flex-gt-sm-80, .layout-row>.flex-gt-sm-80 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-gt-sm-85, .layout-column>.flex-gt-sm-85, .layout-row>.flex-gt-sm-85 {
    -webkit-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
  }

  .flex-gt-sm-90, .layout-column>.flex-gt-sm-90, .layout-row>.flex-gt-sm-90 {
    -webkit-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
  }

  .flex-gt-sm-95, .layout-column>.flex-gt-sm-95, .layout-row>.flex-gt-sm-95 {
    -webkit-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
  }

  .flex-gt-sm, .flex-gt-sm-100, .layout-column>.flex-gt-sm-100, .layout-row>.flex-gt-sm-100 {
    -webkit-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }
}

/* layout-md */
@media (min-width: 960px) and (max-width: 1279px){
  .flex-md-5, .layout-column>.flex-md-5, .layout-row>.flex-md-5 {
    -webkit-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
  }

  .flex-md-10, .layout-column>.flex-md-10, .layout-row>.flex-md-10 {
    -webkit-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
  }

  .flex-md-15, .layout-column>.flex-md-15, .layout-row>.flex-md-15 {
    -webkit-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
  }

  .flex-md-20, .layout-column>.flex-md-20, .layout-row>.flex-md-20 {
    -webkit-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
  }

  .flex-md-25, .layout-column>.flex-md-25, .layout-row>.flex-md-25 {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
  }

  .flex-md-30, .layout-column>.flex-md-30, .layout-row>.flex-md-30 {
    -webkit-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
  }

  .flex-md-35, .layout-column>.flex-md-35, .layout-row>.flex-md-35 {
    -webkit-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
  }

  .flex-md-40, .layout-column>.flex-md-40, .layout-row>.flex-md-40 {
    -webkit-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
  }

  .flex-md-45, .layout-column>.flex-md-45, .layout-row>.flex-md-45 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-md-50, .layout-column>.flex-md-50, .layout-row>.flex-md-50 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-md-55, .layout-column>.flex-md-55, .layout-row>.flex-md-55 {
    -webkit-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
  }

  .flex-md-60, .layout-column>.flex-md-60, .layout-row>.flex-md-60 {
    -webkit-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
  }

  .flex-md-65, .layout-column>.flex-md-65, .layout-row>.flex-md-65 {
    -webkit-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
  }

  .flex-md-70, .layout-column>.flex-md-70, .layout-row>.flex-md-70 {
    -webkit-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
  }

  .flex-md-75, .layout-column>.flex-md-75, .layout-row>.flex-md-75 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-md-80, .layout-column>.flex-md-80, .layout-row>.flex-md-80 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-md-85, .layout-column>.flex-md-85, .layout-row>.flex-md-85 {
    -webkit-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
  }

  .flex-md-90, .layout-column>.flex-md-90, .layout-row>.flex-md-90 {
    -webkit-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
  }

  .flex-md-95, .layout-column>.flex-md-95, .layout-row>.flex-md-95 {
    -webkit-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
  }

  .flex-md, .flex-md-100, .layout-column>.flex-md-100, .layout-row>.flex-md-100 {
    -webkit-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }
}

/* layout-gt-md */
@media (min-width: 1280px){
  .flex-gt-md-5, .layout-column>.flex-gt-md-5, .layout-row>.flex-gt-md-5 {
    -webkit-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
  }

  .flex-gt-md-10, .layout-column>.flex-gt-md-10, .layout-row>.flex-gt-md-10 {
    -webkit-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
  }

  .flex-gt-md-15, .layout-column>.flex-gt-md-15, .layout-row>.flex-gt-md-15 {
    -webkit-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
  }

  .flex-gt-md-20, .layout-column>.flex-gt-md-20, .layout-row>.flex-gt-md-20 {
    -webkit-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
  }

  .flex-gt-md-25, .layout-column>.flex-gt-md-25, .layout-row>.flex-gt-md-25 {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
  }

  .flex-gt-md-30, .layout-column>.flex-gt-md-30, .layout-row>.flex-gt-md-30 {
    -webkit-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
  }

  .flex-gt-md-35, .layout-column>.flex-gt-md-35, .layout-row>.flex-gt-md-35 {
    -webkit-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
  }

  .flex-gt-md-40, .layout-column>.flex-gt-md-40, .layout-row>.flex-gt-md-40 {
    -webkit-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
  }

  .flex-gt-md-45, .layout-column>.flex-gt-md-45, .layout-row>.flex-gt-md-45 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-gt-md-50, .layout-column>.flex-gt-md-50, .layout-row>.flex-gt-md-50 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-gt-md-55, .layout-column>.flex-gt-md-55, .layout-row>.flex-gt-md-55 {
    -webkit-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
  }

  .flex-gt-md-60, .layout-column>.flex-gt-md-60, .layout-row>.flex-gt-md-60 {
    -webkit-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
  }

  .flex-gt-md-65, .layout-column>.flex-gt-md-65, .layout-row>.flex-gt-md-65 {
    -webkit-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
  }

  .flex-gt-md-70, .layout-column>.flex-gt-md-70, .layout-row>.flex-gt-md-70 {
    -webkit-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
  }

  .flex-gt-md-75, .layout-column>.flex-gt-md-75, .layout-row>.flex-gt-md-75 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-gt-md-80, .layout-column>.flex-gt-md-80, .layout-row>.flex-gt-md-80 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-gt-md-85, .layout-column>.flex-gt-md-85, .layout-row>.flex-gt-md-85 {
    -webkit-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
  }

  .flex-gt-md-90, .layout-column>.flex-gt-md-90, .layout-row>.flex-gt-md-90 {
    -webkit-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
  }

  .flex-gt-md-95, .layout-column>.flex-gt-md-95, .layout-row>.flex-gt-md-95 {
    -webkit-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
  }

  .flex-gt-md, .flex-gt-md-100, .layout-column>.flex-gt-md-100, .layout-row>.flex-gt-md-100 {
    -webkit-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }
}

/* layout-lg */
@media (min-width: 1280px) and (max-width: 1919px){
  .flex-lg-5, .layout-column>.flex-lg-5, .layout-row>.flex-lg-5 {
    -webkit-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
  }

  .flex-lg-10, .layout-column>.flex-lg-10, .layout-row>.flex-lg-10 {
    -webkit-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
  }

  .flex-lg-15, .layout-column>.flex-lg-15, .layout-row>.flex-lg-15 {
    -webkit-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
  }

  .flex-lg-20, .layout-column>.flex-lg-20, .layout-row>.flex-lg-20 {
    -webkit-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
  }

  .flex-lg-25, .layout-column>.flex-lg-25, .layout-row>.flex-lg-25 {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
  }

  .flex-lg-30, .layout-column>.flex-lg-30, .layout-row>.flex-lg-30 {
    -webkit-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
  }

  .flex-lg-35, .layout-column>.flex-lg-35, .layout-row>.flex-lg-35 {
    -webkit-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
  }

  .flex-lg-40, .layout-column>.flex-lg-40, .layout-row>.flex-lg-40 {
    -webkit-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
  }

  .flex-lg-45, .layout-column>.flex-lg-45, .layout-row>.flex-lg-45 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-lg-50, .layout-column>.flex-lg-50, .layout-row>.flex-lg-50 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-lg-55, .layout-column>.flex-lg-55, .layout-row>.flex-lg-55 {
    -webkit-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
  }

  .flex-lg-60, .layout-column>.flex-lg-60, .layout-row>.flex-lg-60 {
    -webkit-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
  }

  .flex-lg-65, .layout-column>.flex-lg-65, .layout-row>.flex-lg-65 {
    -webkit-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
  }

  .flex-lg-70, .layout-column>.flex-lg-70, .layout-row>.flex-lg-70 {
    -webkit-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
  }

  .flex-lg-75, .layout-column>.flex-lg-75, .layout-row>.flex-lg-75 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-lg-80, .layout-column>.flex-lg-80, .layout-row>.flex-lg-80 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-lg-85, .layout-column>.flex-lg-85, .layout-row>.flex-lg-85 {
    -webkit-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
  }

  .flex-lg-90, .layout-column>.flex-lg-90, .layout-row>.flex-lg-90 {
    -webkit-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
  }

  .flex-lg-95, .layout-column>.flex-lg-95, .layout-row>.flex-lg-95 {
    -webkit-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
  }

  .flex-lg, .flex-lg-100, .layout-column>.flex-lg-100, .layout-row>.flex-lg-100 {
    -webkit-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }
}

/* layout-gt-lg */
@media (min-width: 1920px){
  .flex-gt-lg-5, .layout-column>.flex-gt-lg-5, .layout-row>.flex-gt-lg-5 {
    -webkit-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
  }

  .flex-gt-lg-10, .layout-column>.flex-gt-lg-10, .layout-row>.flex-gt-lg-10 {
    -webkit-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
  }

  .flex-gt-lg-15, .layout-column>.flex-gt-lg-15, .layout-row>.flex-gt-lg-15 {
    -webkit-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
  }

  .flex-gt-lg-20, .layout-column>.flex-gt-lg-20, .layout-row>.flex-gt-lg-20 {
    -webkit-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
  }

  .flex-gt-lg-25, .layout-column>.flex-gt-lg-25, .layout-row>.flex-gt-lg-25 {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
  }

  .flex-gt-lg-30, .layout-column>.flex-gt-lg-30, .layout-row>.flex-gt-lg-30 {
    -webkit-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
  }

  .flex-gt-lg-35, .layout-column>.flex-gt-lg-35, .layout-row>.flex-gt-lg-35 {
    -webkit-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
  }

  .flex-gt-lg-40, .layout-column>.flex-gt-lg-40, .layout-row>.flex-gt-lg-40 {
    -webkit-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
  }

  .flex-gt-lg-45, .layout-column>.flex-gt-lg-45, .layout-row>.flex-gt-lg-45 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-gt-lg-50, .layout-column>.flex-gt-lg-50, .layout-row>.flex-gt-lg-50 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-gt-lg-55, .layout-column>.flex-gt-lg-55, .layout-row>.flex-gt-lg-55 {
    -webkit-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
  }

  .flex-gt-lg-60, .layout-column>.flex-gt-lg-60, .layout-row>.flex-gt-lg-60 {
    -webkit-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
  }

  .flex-gt-lg-65, .layout-column>.flex-gt-lg-65, .layout-row>.flex-gt-lg-65 {
    -webkit-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
  }

  .flex-gt-lg-70, .layout-column>.flex-gt-lg-70, .layout-row>.flex-gt-lg-70 {
    -webkit-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
  }

  .flex-gt-lg-75, .layout-column>.flex-gt-lg-75, .layout-row>.flex-gt-lg-75 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-gt-lg-80, .layout-column>.flex-gt-lg-80, .layout-row>.flex-gt-lg-80 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-gt-lg-85, .layout-column>.flex-gt-lg-85, .layout-row>.flex-gt-lg-85 {
    -webkit-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
  }

  .flex-gt-lg-90, .layout-column>.flex-gt-lg-90, .layout-row>.flex-gt-lg-90 {
    -webkit-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
  }

  .flex-gt-lg-95, .layout-column>.flex-gt-lg-95, .layout-row>.flex-gt-lg-95 {
    -webkit-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
  }

  .flex-gt-lg, .flex-gt-lg-100, .layout-column>.flex-gt-lg-100, .layout-row>.flex-gt-lg-100 {
    -webkit-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }
}

/* layout-xl */
@media (min-width: 1920px){
  .flex-xl-5, .layout-column>.flex-xl-5, .layout-row>.flex-xl-5 {
    -webkit-flex: 1 1 5% !important;
    flex: 1 1 5% !important;
  }

  .flex-xl-10, .layout-column>.flex-xl-10, .layout-row>.flex-xl-10 {
    -webkit-flex: 1 1 10% !important;
    flex: 1 1 10% !important;
  }

  .flex-xl-15, .layout-column>.flex-xl-15, .layout-row>.flex-xl-15 {
    -webkit-flex: 1 1 15% !important;
    flex: 1 1 15% !important;
  }

  .flex-xl-20, .layout-column>.flex-xl-20, .layout-row>.flex-xl-20 {
    -webkit-flex: 1 1 20% !important;
    flex: 1 1 20% !important;
  }

  .flex-xl-25, .layout-column>.flex-xl-25, .layout-row>.flex-xl-25 {
    -webkit-flex: 1 1 25% !important;
    flex: 1 1 25% !important;
  }

  .flex-xl-30, .layout-column>.flex-xl-30, .layout-row>.flex-xl-30 {
    -webkit-flex: 1 1 30% !important;
    flex: 1 1 30% !important;
  }

  .flex-xl-35, .layout-column>.flex-xl-35, .layout-row>.flex-xl-35 {
    -webkit-flex: 1 1 35% !important;
    flex: 1 1 35% !important;
  }

  .flex-xl-40, .layout-column>.flex-xl-40, .layout-row>.flex-xl-40 {
    -webkit-flex: 1 1 40% !important;
    flex: 1 1 40% !important;
  }

  .flex-xl-45, .layout-column>.flex-xl-45, .layout-row>.flex-xl-45 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-xl-50, .layout-column>.flex-xl-50, .layout-row>.flex-xl-50 {
    -webkit-flex: 1 1 45% !important;
    flex: 1 1 45% !important;
  }

  .flex-xl-55, .layout-column>.flex-xl-55, .layout-row>.flex-xl-55 {
    -webkit-flex: 1 1 55% !important;
    flex: 1 1 55% !important;
  }

  .flex-xl-60, .layout-column>.flex-xl-60, .layout-row>.flex-xl-60 {
    -webkit-flex: 1 1 60% !important;
    flex: 1 1 60% !important;
  }

  .flex-xl-65, .layout-column>.flex-xl-65, .layout-row>.flex-xl-65 {
    -webkit-flex: 1 1 65% !important;
    flex: 1 1 65% !important;
  }

  .flex-xl-70, .layout-column>.flex-xl-70, .layout-row>.flex-xl-70 {
    -webkit-flex: 1 1 70% !important;
    flex: 1 1 70% !important;
  }

  .flex-xl-75, .layout-column>.flex-xl-75, .layout-row>.flex-xl-75 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-xl-80, .layout-column>.flex-xl-80, .layout-row>.flex-xl-80 {
    -webkit-flex: 1 1 75% !important;
    flex: 1 1 75% !important;
  }

  .flex-xl-85, .layout-column>.flex-xl-85, .layout-row>.flex-xl-85 {
    -webkit-flex: 1 1 85% !important;
    flex: 1 1 85% !important;
  }

  .flex-xl-90, .layout-column>.flex-xl-90, .layout-row>.flex-xl-90 {
    -webkit-flex: 1 1 90% !important;
    flex: 1 1 90% !important;
  }

  .flex-xl-95, .layout-column>.flex-xl-95, .layout-row>.flex-xl-95 {
    -webkit-flex: 1 1 95% !important;
    flex: 1 1 95% !important;
  }

  .flex-xl, .flex-xl-100, .layout-column>.flex-xl-100, .layout-row>.flex-xl-100 {
    -webkit-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
  }
}
